# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings (optional)
.vscode/
